---
import ExampleSwitch from "../components/react/Toggle.react";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Switch">
  <div class="w-screen h-screen bg-gray-200 flex justify-center items-center">
    <ExampleSwitch client:load />
  </div>
</Layout>
